table.tabelA {
  background-color: #AC786D;
  color: #F1D8CE;
  border: solid silver;
  border-collapse: collapse;
}
ul {
  list-style: none;
}
a:link {
  text-decoration: none;
  color: White;
}
a:visited {
  text-decoration: none;
  color: gray;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
}
li {
  display: inline;
  font-family: "Verdana",Arial;
  }
table.tabelA td {
  border: solid silver;
}
body {
  background-color: #CCA899;
  color: #F1D8CE;
}
*{
  margin: 12px;
  padding: 1px 0px 1px 0px;
}
.span {
  color: black;
  font-style: Italic;
  font-weight: bold;
  font-size: 15px
}

.antwoord {
  background-color: #AC786D;
  color: #AC786D;
}
.antwoord:hover {
  color: black;
}
ul {
  list-style: none;
}

p {
    border: 4px solid #AC786D;
    border-radius: 20px 0px 20px 0px;
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 140%;
    text-align: justify;
    font-family: "Verdana",Arial;
    font-size: 12px;
}
h1 {
    background-color: #AC786D;
    text-align: center;
    border: 4px dotted #F1D8CE;
}
img {
    border: 4px dotted #F1D8CE;
}
iframe {
    border: 4px dotted #F1D8CE;
}
h1 {
      font-weight: lighter;
      text-align: center;
      font-family: "Times New Roman", Georgia;

}
h4 {
    background-color: #AC786D;
    text-align: center;
    font-family: "Times New Roman", Georgia;
}
a:link {
  text-decoration: none;
  color: White;
}
a:visited {
  text-decoration: none;
  color: gray;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: gray;
}
h2{
  border: 4px dotted #F1D8CE;
  background-color: #AC786D;
  font-style: italic;
  text-align: left;
  font-family: "Times New Roman",Georgia;
}
